<div style="position:relative; width: 100%">
    <button mat-icon-button class="close-btn" align="end" [mat-dialog-close]="true">
        <i mat-icon-button mat-dialog-close class="fa-sharp fa-solid fa-circle-xmark"></i>
    </button>
</div>
<h2 mat-dialog-title >{{ 'contactPage.contactTitle' | translate }}</h2>


<hr>
<div fxLayout = "row" fxLayoutAlign="space-between center">
    <p> Twitter </p>
    <a href = "https://twitter.com/reciplewordle" target = "_blank"> @reciplewordle </a> 
</div>
<hr>
<div fxLayout = "row" fxLayoutAlign="space-between center">
    <p> Email </p>
    <a href = "mailto: reciple.wordle@gmail.com" target = "_blank"> reciple.wordle@gmail.com </a> 
</div>
<hr>