<div style="position:relative; width: 100%">
<button mat-icon-button class="close-btn" align="end" [mat-dialog-close]="true">
    <i mat-icon-button mat-dialog-close class="fa-sharp fa-solid fa-circle-xmark" [class.inverted]="isDarkMode"></i>
</button>
</div>
<h2 mat-dialog-title class="dialog-titles">{{'statisticsPage.statisticsTitle' | translate}}</h2>
<mat-dialog-content class="stats-ctn">
    <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
            <span class="stats-number">{{playedGames}}</span>
            <span>{{'statisticsPage.played' | translate}}</span>
        </div>
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
            <span class="stats-number">{{wins}}</span>
            <span>{{'statisticsPage.wins' | translate}}</span>
        </div>
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
            <span class="stats-number">{{currentStreak}}</span>
            <span>{{'statisticsPage.streak' | translate}}</span>
        </div>
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
            <span class="stats-number">{{maxStreak}}</span>
            <span>{{'statisticsPage.max' | translate}}<br>{{'statisticsPage.streak' | translate}}</span>
        </div>
    </div>
</mat-dialog-content>
<h2 mat-dialog-title>{{'statisticsPage.guessTitle' | translate}}</h2>
<mat-dialog-content>
    <ol>
        <div style="margin-right: 30px" *ngFor="let item of [1, 2, 3, 4, 5, 6]" fxLayout="row" fxLayoutAlign="start center">
        <li  key={item} ></li>
        <div role="stats-bar" style="--percentage:{{countDistr[item - 1]}}%;" 
             [ngClass]="todaySolvedIn === item? 'highlight-bar' : ''" fxLayoutAlign="end center">
            <span class="bar-text">{{guessDistr[item - 1]}}</span>
        </div>
    </div>
    </ol>
    <div *ngIf="todaysHistoric?.complete" fxLayout="column" fxLayoutAlign="center center">
        <app-countdown [nextDate]="nextCountryDate"></app-countdown>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <button fxLayoutAlign="center center" class="share-button" (click)="notifyClipboard()" [cdkCopyToClipboard]="getSummaryToClipboard()">
                {{'statisticsPage.share' | translate}} <mat-icon style="margin-left: 5px; font-size: 20px; pointer-events: none;">content_copy</mat-icon>
            </button>
            <a fxLayoutAlign="center center" class="recipe-url" href="{{todaySolution.recipeUrl}}" target="_blank">
                {{'statisticsPage.recipe' | translate}} <mat-icon style="margin-left: 3px"> restaurant_menu</mat-icon>
            </a>
        </div>
    </div>
</mat-dialog-content>

