<div style="position:relative; width: 100%">
<button mat-icon-button class="close-btn" align="end" [mat-dialog-close]="true">
    <i mat-icon-button mat-dialog-close class="fa-sharp fa-solid fa-circle-xmark" [class.inverted]="isDarkMode"></i>
</button>
</div>
<h2 mat-dialog-title class="dialog-titles">Statistics</h2>
<mat-dialog-content class="stats-ctn">
    <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
            <span class="stats-number">{{playedGames}}</span>
            <span>Played</span>
        </div>
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
            <span class="stats-number">{{wins}}</span>
            <span>Wins</span>
        </div>
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
            <span class="stats-number">{{currentStreak}}</span>
            <span>Current<br>Streak</span>
        </div>
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
            <span class="stats-number">{{maxStreak}}</span>
            <span>Max<br>Streak</span>
        </div>
    </div>
</mat-dialog-content>
<h2 mat-dialog-title>Guess distribution</h2>
<mat-dialog-content>
    <ol>
        <div *ngFor="let item of [1, 2, 3, 4, 5, 6]" fxLayout="row" fxLayoutAlign="start center">
        <li  key={item} ></li>
        <div role="stats-bar" style="--percentage:{{countDistr[item - 1]}}%;" 
             [ngClass]="todaySolvedIn === item? 'highlight-bar' : ''" fxLayoutAlign="end center">
            <span class="bar-text">{{guessDistr[item - 1]}}</span>
        </div>
    </div>
    </ol>
    <div  *ngIf="todaysHistoric?.complete" fxLayout="column" fxLayoutAlign="center center">
        <app-countdown [nextDate]="nextCountryDate"></app-countdown>
        <button fxLayoutAlign="center center" class="share-button" (click)="notifyClipboard()" [cdkCopyToClipboard]="getSummaryToClipboard()">
            Share it! <mat-icon style="margin-left: 10px">content_copy</mat-icon>
        </button>
    </div>
</mat-dialog-content>

