<div class="paper" [class.inverted]="isDarkMode">
<div class="app-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row">
        <mat-icon class="left-icon">favorite_border</mat-icon>
        <mat-icon>help_outline</mat-icon>
    </div>
    <h1 class="reciple-title">Settings</h1>
    <div fxLayout="row">
        <mat-icon class="left-icon">leaderboard</mat-icon>
        <mat-icon (click)="goBack()">settings</mat-icon>
    </div>
</div>
<div style="padding: 20%;">
    <mat-icon class="close-btn">close</mat-icon>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>Dark mode: </span>
        <label class="switch">
            <input type="checkbox" (click)="darkModeChange()" [checked]="isDarkMode">
            <span class="normal-slider"></span>
        </label>
    </div>
</div>
</div>