<div style="position:relative; width: 100%">
    <button mat-icon-button class="close-btn" align="end" [mat-dialog-close]="true">
        <i mat-icon-button mat-dialog-close class="fa-sharp fa-solid fa-circle-xmark" [class.inverted]="isDarkMode"></i>
    </button>
</div>
<h2 mat-dialog-title >Set the Table</h2>
<div style="padding: 20%;">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>Dark mode: </span>
        <label class="switch">
            <input type="checkbox" (click)="darkModeChange()" [checked]="isDarkMode">
            <span class="normal-slider"></span>
        </label>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>High Contrast: </span>
        <label class="switch">
            <input type="checkbox" (click)="highContrastChange()" [checked]="isHighContrast">
            <span class="normal-slider"></span>
        </label>
    </div>
</div>
