<div style="position:relative; width: 100%">
    <button mat-icon-button class="close-btn" align="end" [mat-dialog-close]="true">
        <i mat-icon-button mat-dialog-close class="fa-sharp fa-solid fa-circle-xmark"></i>
    </button>
</div>
<h2 mat-dialog-title>{{'infoPage.infoTitle' | translate}}</h2> 
<div>
    <p>{{'infoPage.intro1-p1' | translate}} <span style="font-weight:600;">RECIPLE</span> {{'infoPage.intro1-p2' | translate}}</p>
    <p>{{'infoPage.intro2' | translate}}</p>
    <p class="line-separator">{{'infoPage.intro3' | translate}}</p>
    <p style="font-weight:600">{{'infoPage.example' | translate}}</p>
    <div class="img-ctn" fxLayout="row" fxLayoutAlign="center center">
        <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">         
            <div class="reciple-tile" style="margin:3px;">
                <div class="reciple-tile-inner reciple-tile-inner-rotate" style="--delay:{{i}}">
                    <div class="reciple-tile-front" style="margin:2px;">
                        <div></div>
                    </div>
                    <div class="reciple-tile-back" 
                        [ngClass]="i ===2 || i === 4? 'right-guess' : 'wrong-guess'"
                        [class.high-contrast]="isHighContrast">
                        <span [innerHtml] = sanitizer.bypassSecurityTrustHtml(example1Icons[i])></span>
                    </div>
                </div>
            </div>
        </ng-container>
        <div [class.high-contrast]="isHighContrast" class="attempt-circle attempted wrong-guess"></div>
    </div>
    <p>{{'infoPage.example1' | translate}}</p>
    <div class="img-ctn" style="margin-bottom: 35px;" fxLayout="row" fxLayoutAlign="center center">
        <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">    
            <div [ngClass]="i==2? 'tooltip' : ''" > 
                <span *ngIf="i==2" class="tooltiptext">{{'ingredients.cheese' | translate}}</span>      
                <div class="reciple-tile" style="margin:3px;">
                    <div class="reciple-tile-inner reciple-tile-inner-rotate" style="--delay:{{i}}">
                        <div class="reciple-tile-front" style="margin:2px;">
                            <div></div>
                        </div>
                        <div class="reciple-tile-back" 
                            [ngClass]="i ===2 || i === 4? 'right-guess' : 'wrong-guess'"
                            [class.high-contrast]="isHighContrast">
                            <span [innerHtml] = sanitizer.bypassSecurityTrustHtml(example1Icons[i])></span>                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div [class.high-contrast]="isHighContrast" class="attempt-circle attempted wrong-guess"></div>
    </div>
    <p>{{'infoPage.example2' | translate}}</p>
    <div class="img-ctn" fxLayout="row" fxLayoutAlign="center center">
        <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">         
            <div class="reciple-tile" style="margin:3px;">
                <div class="reciple-tile-inner reciple-tile-inner-rotate" style="--delay:{{i}}">
                    <div class="reciple-tile-front" style="margin:2px;">
                        <div></div>
                    </div>
                    <div class="reciple-tile-back right-guess" 
                        [class.high-contrast]="isHighContrast">
                        <span [innerHtml] = sanitizer.bypassSecurityTrustHtml(example2Icons[i])></span>
                    </div>
                </div>
            </div>
        </ng-container>
        <div [class.high-contrast]="isHighContrast" class="attempt-circle attempted right-guess"></div>
    </div>
    <p class="line-separator">{{'infoPage.example3' | translate}}</p>
    <p class="line-separator"><b>{{'infoPage.newReciple' | translate}}</b></p>
    <p style="margin-bottom: 0.3em;">{{'infoPage.inspiredBy-p1' | translate}} <a href="https://www.nytimes.com/games/wordle/index.html" target='_blank'>Wordle</a> {{'infoPage.inspiredBy-p2' | translate}} <a href="https://twitter.com/powerlanguish" target='_blank'>Josh Wardle (@powerlanguish)</a>.</p>
</div>