<div class="paper" [class.inverted]="isDarkMode">
    <div class="app-header" fxLayout="row" fxLayoutAlign="space-between center">
        <h1 class="reciple-title">Reciple</h1>
        <div fxLayout="row">
            <mat-icon (click)="openStatisticsDialog()" class="left-icon">leaderboard</mat-icon>
            <mat-icon (click)="openSettingsDialog()" class="left-icon">settings</mat-icon>
            <mat-icon (click)="openInfoDialog()">help_outline</mat-icon>
        </div>
    </div>
    <div class="home-screen-ctn" fxLayout="column" fxLayoutAlign="center center">
        <ng-container *ngFor="let j of numberOfTries">
            <div class="img-ctn" fxLayout="row" fxLayoutAlign="center center">
                <ng-container *ngFor="let i of numberOfSquares">    
                    <div class="tooltip"> 
                        <span class="tooltiptext">{{'ingredients.' + guessListText[j][i] | translate}}</span>    
                        <div class="reciple-tile" style="margin:3px;">
                            <div class="reciple-tile-inner" [ngClass]="attempt >= j+1? 'reciple-tile-inner-rotate': ''" style="--delay:{{i}}">
                                <div class="reciple-tile-front" style="margin:2px;">
                                    <div></div>
                                </div>
                                <div class="reciple-tile-back" 
                                    [ngClass]="attempt <=j? '' : guess[j][i]? 'right-guess' : 'wrong-guess'"
                                    [class.high-contrast]="isHighContrast" >
                                    <span [innerHtml] = sanitizer.bypassSecurityTrustHtml(guessList[j][i])></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div *ngIf="false" class="guessed-recipe-text">{{guessBoxList[j]}}</div>
                <div class="attempt-circle" [ngClass]="attempt <=j? '' : todaysGuesses!.attempts[j].hit? 'attempted right-guess' : 'attempted wrong-guess'"></div>
            </div>
        </ng-container>
        <div *ngIf="!todaySolved">
            <!--
            <mat-form-field class="input-box">
                <input #recipleInput matInput type="text" placeholder="{{'homePage.inputPlaceholder' | translate}}" (ngModelChange)="onChange() " 
                autocomplete="off" [matAutocomplete]="auto" matAutocompletePosition="above" [formControl]="control"> 
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountryFn.bind(this)">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{'recipe.' + option | translate}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            -->

            <button id="Btn" style="line-height: 10px; border-radius: 25%; text-align: center;" mat-raised-button [disabled]="isRecipeValid === false" (click)="makeGuess()">
                <mat-icon>keyboard_return</mat-icon>
            </button>
        </div>
        <ng-container *ngIf="todaySolved">
            <h3>{{'recipe.' + solution.name | translate}}!</h3>
        </ng-container>
        <div class="dishes-container">
            <ng-scrollbar>
                <div fxLayout="row" fxLayoutAlign="center center" class="recipe-tabs">
                    <div fxFlex="33">🥗 Starters</div>
                    <div fxFlex="33" >🍽️ Mains</div>
                    <div fxFlex="33" class="activated">🥞 Desserts</div>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
                    <ng-container *ngFor="let recipe of recipeList">
                        <button fxFlex="40%" type="radio" class="recipe-button" (click)="recipeSelectorHandler($event, recipe)">{{'recipe.' + recipe.name | translate}}</button>
                    </ng-container>
                </div>
             </ng-scrollbar>
        </div>
    </div>
</div>

