.paper {
    height: 98%;
    min-height: 35em;
    width: 97%;
    max-width: 420px;
    background: rgba(255,255,255,0.9);
    margin: 1.5%;
    box-shadow: 0px 0px 5px 0px #888;
    &.inverted{
        background: inherit;
    }
}

button{
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -khtml-tap-highlight-color: rgba(0,0,0,0) !important;
    -moz-tap-highlight-color: rgba(0,0,0,0) !important;
}

.img-icon{
    scale:0.65;
    margin: -10px; 
    cursor: pointer;
    &.inverted {
        filter : invert(1);
        -webkit-filter: invert(1);
    }
}