<div class="paper" [class.inverted]="isDarkMode">
    <app-header
        [isDarkMode]="isDarkMode"    
    >
    </app-header>
    <app-game-squares
        [todaysGuesses]="todaysGuesses"  
        [isHighContrast]="isHighContrast"  
    >
    </app-game-squares>
    <app-recipes-panel
        [todaySolved]="todaySolved"
        [todayFailed]="todayFailed"
        [todaysGuesses]="todaysGuesses"
        [solution]="solution"
        (guessMade)="makeGuess($event)"
    > 
    </app-recipes-panel>
</div>

